<%= simple_form_for @quiz do |f| %>
  <% if quiz.errors.any? %>
    <% quiz.errors.full_messages.each do |message|%>
      <p class="text_danger"><%= "Error: #{message}" %> </p>
    <%end%>
  <%end%>

  <div class="form create_form_input_quiz">
    <strong>
      <%= f.input :title, label: "Title" %>
      <%= f.input :description, label: "Description", input_html: { cols: 50, rows: 3 } %> 
      
    </strong>
  </div>

  <br>
  <%= f.simple_fields_for :questions do |q| %>
    <%= render 'question_fields', f: q %>      
    
    <br>
  <% end %>


  <div class='links'>
    <%= link_to_add_association 'Add Question', f, :questions, class: "button add" %>
  </div>

  <br>  
  <%= f.submit class: "button submit" %>
  
<% end %>

<br>
