<%= simple_form_for @quiz do |f| %>
  <% if quiz.errors.any? %>
    <% quiz.errors.full_messages.each do |message|%>
      <p class="text_danger"><%= "Error: #{message}" %> </p>
    <%end%>
  <%end%>

  <strong>
    <%= f.input :title, label: "Title" %>
    <%= f.input :description, label: "Description" %>
  </strong>

  <% q_no = 0 %> <!-- Defines a variable used to number questions. Used in question fields partial -->

  <br>
  <%= f.simple_fields_for :questions do |q| %>
    <% q_no += 1 %>
    <%= render 'question_fields', f: q, q_no: q_no %>
  <% end %>

  <%= f.submit class: "button submit" %>
  
<% end %>

<br>
