<div class="section">
  <div class="column left">
    <h2>Quizzes</h2>
    <table class="quizzes">
      <thead>
        <tr>
          <th>Date Created</th>
          <th>Quiz Title</th>
          <th>Description</th>
          <% if policy(@quiz).edit? %>
            <th colspan="3"></th>
          <% else %>
            <th colspan="1"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @quizzes.each do |quiz| %>
          <tr>
            <td class="date"><%= quiz.created_at.strftime("%d %B %Y") %></td>
            <td class="title"><%= quiz.title %></td>
            <td class="desc"><%= quiz.description %></td>
            <td><%= link_to "Show", quiz_path(quiz), class: "button show" %></td>
            <% if policy(quiz).edit? %>
              <td><%= link_to 'Edit', edit_quiz_path(quiz), class: "button edit" %></td>
            <% end %>
            <% if policy(quiz).destroy? %>
              <td><%= link_to 'Delete', quiz, method: :delete, data: { confirm: 'Are you sure you want to delete this quiz?' }, class: "button destroy" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <% if policy(@quiz).new? %>
    <div class="column right">
      <h2>Create A New Quiz</h2>
      <%= render 'form', quiz: @quiz %>
    </div>
  <% end %>
</div>
