<div class="section">
  <div class="column left">
    <h2>Quizzes</h2>

    <table class="quizzes">
      <thead>
        <tr>
          <th>Date Created</th>
          <th>Title</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @quizzes.each do |quiz| %>
          <tr>
            <td class="date"><%= quiz.created_at.strftime("%d %B %Y") %></td>
            <td class="title"><%= quiz.title %></td>
            <td class="desc"><%= quiz.description %></td>
            <td><%= link_to "Show", quiz_path(quiz), class: "button show" %></td>
            <td><%= link_to "Edit", edit_quiz_path(quiz), class: "button edit" %></td>
            <td><%= link_to "Delete", quiz, method: :delete, data: { confirm: "Are you sure you want to delete #{quiz.title}?" }, class: "button destroy" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="column right">
    <h2>Create A New Quiz</h2>
    <%= render 'form', quiz: @quiz %>
  </div>
</div>

     <!-- <p>Pencil &#x270E;</p>
      <p>Cross &#x2716;</p>
      <p>Show ? &#x2630;</p> -->