<% if policy(@quiz).edit? %>
  <%= link_to 'Edit Quiz', edit_quiz_path(@quiz), class: "button edit small" %> 
<% end %>

<h1><%= @quiz.title %></h1>
<h2><%= "Description: #{@quiz.description}" %></h2>
<br>

<div class="show_question_fields">
  <ol>
    <% @quiz.questions.each do |question| %>
      <li class="question_data"><%= question.content %>
        
        <!-- Individual button -->

        <div class = "show_answer_fields">
          <ol class="alphabet">
            <% question.answers.each do |answer| %>
              <div class="answer_data">
                <% if answer.correct %>
                  <li class="correct_answer"><%= answer.option %></li>
                <% else %>
                  <li><%= answer.option %></li>
                <% end %>
              </div>
            <% end %>  
          </ol>
        </div>
      </li>
      <br>
    <% end %>
  </ol>
</div>

<% if policy(@quiz).view_answers? %>
  <span style="padding-left: 5px"></span>
  <button onclick="showCorrect()" class="button answer" id=<%#question.id %> data-association="show_answer">Reveal Answers</button>
<% end %>
