<% if policy(@quiz).edit? %>
  <%= link_to 'Edit Quiz', edit_quiz_path(@quiz), class: "button edit small" %> 
<% end %>

<h2><%= @quiz.title %></h2>
<h3><%= "Description: #{@quiz.description}" %></h3>

<ol>
  <% @quiz.questions.each do |question| %>
    <li><%= question.content %>
      <ol class="alphabet">
        <% question.answers.each do |answer| %>
          <% if policy(@quiz).view_answers? && answer.correct %>
            <strong><li class="correct_answer"><%= "#{answer.option} (Correct)" %></li></strong>
          <% else %>
            <li><%= answer.option %></li>
          <% end %>
        <% end %>  
      </ol>
    </li>
    <br>
  <% end %>
</ol>
   