<% if policy(@quiz).edit? %>
  <%= link_to 'Edit Quiz', edit_quiz_path(@quiz), class: "button edit small" %> 
<% end %>

<h2><%= @quiz.title %></h2>
<h3><%= "Description: #{@quiz.description}" %></h3>

<ol>
  <% @quiz.questions.each do |question| %>
    <li><%= question.content %>
      <ol class="alphabet">
        <% question.answers.each do |answer| %>
          <% if answer.correct %>
            <li class="correct_answer"><%= answer.option %></li>
          <% else %>
            <li><%= answer.option %></li>
          <% end %>
        <% end %>  
      </ol>
    </li>
    <br>
  <% end %>
</ol>

<% if policy(@quiz).view_answers? %>
  <button type="button" onclick="showCorrect()">Show Correct Answers</button>
<% end %>

<script>
  function showCorrect() {
    var options = document.getElementsByClassName("correct_answer");
    for(var i=0; i<options.length; i++) {
      options[i].style.color = "green";
    }
  }
</script>
