<!DOCTYPE html>
<html>
  <head>
    <title>QuizManagementSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1>WebbiSkools Quiz Management</h1>
    </div>
          
    <div class="topnav">
      <% if user_signed_in? %>
        <%= link_to "Home", quizzes_path %>
      <% else %>
        <a href="#"></a> <!-- Provides a blank navbar -->
      <% end %>
    </div>
       
    <div class="content">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      
      <%= yield %>
    </div>

    <div class="footer">
      <h3>Quiz Management Site</h3>
      <h4>&#169; WebbiSkools Ltd, 2021</h4>
    </div>
  </body>
</html>
